

html, body {
    margin:0;
    padding:0;
}

body {
    max-width:100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    font-weight:400;
    margin: 20px auto;
    text-align:center;

    background-image: linear-gradient(135deg, #ffffff, #ffe0e0)
}

.d-block {
    display:block!important;
}

.d-none {
    display:none;
}
.container {
    max-width:80%;
    margin:auto;
}


header {
    width:85%;
    display:block;
}

header img {
    max-width:100%;
    height:auto;
    float:left;   
    margin-bottom:1.25rem;
}



.desktop-image {
    display:none;
}
.mobile-image {
    width:100%;
    height:auto;
    margin-bottom:1.875rem;
}

#text {
    position:relative;
    top: 1.375rem;
    margin:auto;
    width:100%;
}

h1 span {
    font-weight:300;
}

h1 {
    width:70%;
    margin:auto;
    
    text-transform: uppercase;
    font-size:3rem;
    line-height:3.5rem;
    letter-spacing:.5rem;
    font-weight:600;
    margin-bottom:1rem;
}

p {
    font-size:1rem;
    line-height:1.5rem;
    margin-bottom:2rem;
}


form {
    width:80%;
    margin:auto;
}
#email {
    width:90%;
    height:3rem;
    border:2px solid 	#cccccc;
    border-radius:1.875rem;
    background-color: transparent;
    color:	#cccccc;
    padding-left:1.25rem;
    float:left;
}

#email::placeholder{
    color:#cccccc;
}

.invalid {
    border:2px solid #f96262!important;
}
.button, #submit {
    float:right;
    width:4.688rem;
    height:3.35rem;
    border:none;
    border-radius:1.875rem;
}

.button {
    position:relative;
    bottom:3.35rem;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    box-shadow: 5px 5px 20px 2.5px hsla(0, 36%, 70%, 0.562);
}

#submit {
    color:transparent;
    background-image: url(images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position:center;
    background-color:transparent;
} 

#submit:hover{
    background-color: #f8bfbf;
}

#response {
    color:#f96262;
    text-align:left;
    padding-top:3rem;
    padding-left:1.3rem;
    
}
.red {
    color:#c4adad;
}


@media only screen and (min-device-width: 700px){
    html{
        font-size:18px;
    }
}

@media only screen and (min-device-width: 800px){
    html{
        font-size:20px;
    }
}




@media only screen and (min-device-width: 750px) and (orientation: landscape){
    html {
        font-size:16px;
    }
    
    .container {
        max-width:95%;
    }
    .mobile-image{
        display:none;
    }

    #main-image {
        width:45%;
        height:100%;
        float:right;
    }

    .desktop-image {
        display:block;
        max-width:100%;
        height:auto;
    }

    header img {
        margin-top: 3.125rem;
    }


    #text{
        margin-top:2.125rem;
        width:45%;
        float:left;
        text-align:left;
    }

    h1 {
        margin-left:0;
    }

    form {
        float:left;
    }

    .button, #submit {
        height: 3.7rem;
    }
    .button {
        bottom:3.6rem;
    }
}

@media only screen and (min-device-width:1300px) and (orientation:landscape){
    
    .container {
        max-width:80%;
    }
    header img {
        margin-top:4.5rem;
    }

    #text {
        position:relative;
        right:10.313rem;
        top:11rem;
        max-width:35%;
    }

    form {
        max-width:100%;
    }

    .button, #submit {
        height:3.35rem;
        float:right;
    }
    .button {
        bottom:3.35rem;
    }
} 
